<div class="container">
  <div class="well">
    <div class="row">
    <div class="col-md-3">
      <img class="headshot" src="../assets/headshot.png" />
    </div>
      <div class="col-md-9">
        <h1 class="headline">Sierra Laddusaw</h1>
        <p>Sierra Laddusaw is an assistant professor at the Texas A&amp;M University Libraries. As Map Librarian, she provides 
          advanced reference services for cartographic resources. She is responsible for collection support for the map collection, 
          including cataloging of cartographic materials, collection development and maintenance, and facilitating access to the collection 
          by visitors, researchers, and classes.
        </p>
        <p>Sierra’s interests lie in mapping of ideas and imaginary places and the use of cartographic resources in non-traditional fields of 
          study. She has curated a collection at the University Libraries of materials that blur the line between cartography and art. 
          Her work appears in Cartographic Perspectives, ArcNews, and Journal of Map &amp; Geography Libraries.
        </p>
        <p>Sierra received her MS in Library Science from Texas Woman’s University.</p>
      </div>
    </div>
    <social-component></social-component>
  </div>
</div>
